<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546812863107-c84eo8lphcc0kuvrk57td5vnqi699hui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546812863107-c84eo8lphcc0kuvrk57td5vnqi699hui</string>
	<key>API_KEY</key>
	<string>AIzaSyDV45uxKURNQtjq8Yac5qcFB4IDZV7czdU</string>
	<key>GCM_SENDER_ID</key>
	<string>546812863107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.academiadoflutter.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-ac65f</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-ac65f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546812863107:ios:849e9f2d87229e429071b6</string>
</dict>
</plist>